<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Isolates</key>
	<dict>
		<key>a</key>
		<true/>
		<key>b</key>
		<true/>
		<key>c</key>
		<true/>
		<key>ch</key>
		<true/>
		<key>d</key>
		<true/>
		<key>e</key>
		<true/>
		<key>er</key>
		<true/>
		<key>f</key>
		<true/>
		<key>g</key>
		<true/>
		<key>h</key>
		<true/>
		<key>j</key>
		<true/>
		<key>jh</key>
		<true/>
		<key>k</key>
		<true/>
		<key>l</key>
		<true/>
		<key>m</key>
		<true/>
		<key>n</key>
		<true/>
		<key>o</key>
		<true/>
		<key>p</key>
		<true/>
		<key>r</key>
		<true/>
		<key>s</key>
		<true/>
		<key>sh</key>
		<true/>
		<key>t</key>
		<true/>
		<key>w</key>
		<true/>
		<key>y</key>
		<true/>
		<key>z</key>
		<true/>
	</dict>
	<key>SourceExceptions</key>
	<dict>
		<key>1</key>
		<string>1</string>
		<key>2</key>
		<string>2</string>
		<key>3</key>
		<string>3</string>
		<key>4</key>
		<string>4</string>
		<key>5</key>
		<string>5</string>
		<key>ci</key>
		<string>Q.*YI</string>
		<key>cia</key>
		<string>Q.*YA</string>
		<key>cian</key>
		<string>Q.*YAN</string>
		<key>ciang</key>
		<string>Q.*YANG</string>
		<key>ciao</key>
		<string>Q.*YAO</string>
		<key>cie</key>
		<string>Q.*YE</string>
		<key>cin</key>
		<string>Q.*YIN</string>
		<key>cing</key>
		<string>Q.*YING</string>
		<key>ciou</key>
		<string>Q.*YIOU</string>
		<key>cyong</key>
		<string>Q.*YONG</string>
		<key>cyu</key>
		<string>Q.*YU</string>
		<key>cyuan</key>
		<string>Q.*YUAN</string>
		<key>cyue</key>
		<string>Q.*YUE</string>
		<key>cyun</key>
		<string>Q.*YUN</string>
		<key>fong</key>
		<string>F.*ENG</string>
		<key>jyun</key>
		<string>J.*YUN</string>
		<key>jyue</key>
		<string>J.*YUE</string>
		<key>jyuan</key>
		<string>J.*YUAN</string>
		<key>si</key>
		<string>X.*YI</string>
		<key>sia</key>
		<string>X.*YA</string>
		<key>sian</key>
		<string>X.*YAN</string>
		<key>siang</key>
		<string>X.*YANG</string>
		<key>siao</key>
		<string>X.*YAO</string>
		<key>sie</key>
		<string>X.*YE</string>
		<key>sin</key>
		<string>X.*YIN</string>
		<key>sing</key>
		<string>X.*YING</string>
		<key>siou</key>
		<string>X.*YIOU</string>
		<key>syong</key>
		<string>X.*YONG</string>
		<key>syu</key>
		<string>X.*YU</string>
		<key>syuan</key>
		<string>X.*YUAN</string>
		<key>syue</key>
		<string>X.*YUE</string>
		<key>syun</key>
		<string>X.*YUN</string>
		<key>yai</key>
		<string>YAI</string>
	</dict>
	<key>SourceFinals</key>
	<dict>
		<key>*i</key>
		<string>*YI</string>
		<key>*ia</key>
		<string>*YA</string>
		<key>*ian</key>
		<string>*YAN</string>
		<key>*iang</key>
		<string>*YANG</string>
		<key>*iao</key>
		<string>*YAO</string>
		<key>*ie</key>
		<string>*YE</string>
		<key>*ih</key>
		<string>*IH</string>
		<key>*in</key>
		<string>*YIN</string>
		<key>*ing</key>
		<string>*YING</string>
		<key>*iong</key>
		<string>*YONG</string>
		<key>*iou</key>
		<string>*YIOU</string>
		<key>*o</key>
		<string>*O</string>
		<key>*ong</key>
		<string>*WONG</string>
		<key>*u</key>
		<string>*WU</string>
		<key>*ua</key>
		<string>*WA</string>
		<key>*uai</key>
		<string>*WAI</string>
		<key>*uan</key>
		<string>*WAN</string>
		<key>*uang</key>
		<string>*WANG</string>
		<key>*ue</key>
		<string>*YUE</string>
		<key>*uei</key>
		<string>*WEI</string>
		<key>*un</key>
		<string>*WEN</string>
		<key>*uo</key>
		<string>*WO</string>
		<key>*yu</key>
		<string>*YU</string>
		<key>*yuan</key>
		<string>*YUAN</string>
		<key>a</key>
		<string>A</string>
		<key>ai</key>
		<string>AI</string>
		<key>an</key>
		<string>AN</string>
		<key>ang</key>
		<string>ANG</string>
		<key>ao</key>
		<string>AO</string>
		<key>e</key>
		<string>E</string>
		<key>ea</key>
		<string>EA</string>
		<key>ei</key>
		<string>EI</string>
		<key>en</key>
		<string>EN</string>
		<key>eng</key>
		<string>ENG</string>
		<key>er</key>
		<string>ER</string>
		<key>o</key>
		<string>O</string>
		<key>ou</key>
		<string>OU</string>
		<key>wa</key>
		<string>WA</string>
		<key>wai</key>
		<string>WAI</string>
		<key>wan</key>
		<string>WAN</string>
		<key>wang</key>
		<string>WANG</string>
		<key>wei</key>
		<string>WEI</string>
		<key>wo</key>
		<string>WO</string>
		<key>wong</key>
		<string>WONG</string>
		<key>wu</key>
		<string>WU</string>
		<key>wun</key>
		<string>WEN</string>
		<key>ya</key>
		<string>YA</string>
		<key>yan</key>
		<string>YAN</string>
		<key>yang</key>
		<string>YANG</string>
		<key>yao</key>
		<string>YAO</string>
		<key>ye</key>
		<string>YE</string>
		<key>yi</key>
		<string>YI</string>
		<key>yin</key>
		<string>YIN</string>
		<key>ying</key>
		<string>YING</string>
		<key>yo</key>
		<string>YO</string>
		<key>yong</key>
		<string>YONG</string>
		<key>you</key>
		<string>YIOU</string>
		<key>yu</key>
		<string>YU</string>
		<key>yuan</key>
		<string>YUAN</string>
		<key>yue</key>
		<string>YUE</string>
		<key>yun</key>
		<string>YUN</string>
	</dict>
	<key>SourceInitials</key>
	<dict>
		<key>b</key>
		<string>B</string>
		<key>c</key>
		<string>C</string>
		<key>ch</key>
		<string>CH</string>
		<key>d</key>
		<string>D</string>
		<key>f</key>
		<string>F</string>
		<key>g</key>
		<string>G</string>
		<key>h</key>
		<string>H</string>
		<key>j</key>
		<string>J</string>
		<key>jh</key>
		<string>ZH</string>
		<key>k</key>
		<string>K</string>
		<key>l</key>
		<string>L</string>
		<key>m</key>
		<string>M</string>
		<key>n</key>
		<string>N</string>
		<key>p</key>
		<string>P</string>
		<key>q</key>
		<string>Q</string>
		<key>r</key>
		<string>R</string>
		<key>s</key>
		<string>S</string>
		<key>sh</key>
		<string>SH</string>
		<key>t</key>
		<string>T</string>
		<key>x</key>
		<string>X</string>
		<key>z</key>
		<string>Z</string>
	</dict>
	<key>SourceTones</key>
	<dict>
		<key>1</key>
		<string>1</string>
		<key>2</key>
		<string>2</string>
		<key>3</key>
		<string>3</string>
		<key>4</key>
		<string>4</string>
		<key>5</key>
		<string>5</string>
	</dict>
	<key>TargetExceptions</key>
	<dict>
		<key>1</key>
		<string>1</string>
		<key>2</key>
		<string>2</string>
		<key>3</key>
		<string>3</string>
		<key>4</key>
		<string>4</string>
		<key>5</key>
		<string>5</string>
		<key>F.*ENG</key>
		<string>fong</string>
		<key>J.*YUAN</key>
		<string>jyuan</string>
		<key>Q.*YA</key>
		<string>cia</string>
		<key>Q.*YAN</key>
		<string>cian</string>
		<key>Q.*YANG</key>
		<string>ciang</string>
		<key>Q.*YAO</key>
		<string>ciao</string>
		<key>Q.*YE</key>
		<string>cie</string>
		<key>Q.*YI</key>
		<string>ci</string>
		<key>Q.*YIN</key>
		<string>cin</string>
		<key>Q.*YING</key>
		<string>cing</string>
		<key>Q.*YIOU</key>
		<string>ciou</string>
		<key>Q.*YONG</key>
		<string>cyong</string>
		<key>Q.*YU</key>
		<string>cyu</string>
		<key>Q.*YUAN</key>
		<string>cyuan</string>
		<key>Q.*YUE</key>
		<string>cyue</string>
		<key>Q.*YUN</key>
		<string>cyun</string>
		<key>X.*YA</key>
		<string>sia</string>
		<key>X.*YAN</key>
		<string>sian</string>
		<key>X.*YANG</key>
		<string>siang</string>
		<key>X.*YE</key>
		<string>sie</string>
		<key>X.*YI</key>
		<string>si</string>
		<key>X.*YIN</key>
		<string>sin</string>
		<key>X.*YING</key>
		<string>sing</string>
		<key>X.*YIOU</key>
		<string>siou</string>
		<key>X.*YONG</key>
		<string>syong</string>
		<key>X.*YU</key>
		<string>syu</string>
		<key>X.*YUAN</key>
		<string>syuan</string>
		<key>X.*YUE</key>
		<string>syue</string>
		<key>X.*YUN</key>
		<string>syun</string>
		<key>YAI</key>
		<string>yai</string>
	</dict>
	<key>TargetFinals</key>
	<dict>
		<key>*WA</key>
		<string>ua</string>
		<key>*WAI</key>
		<string>uai</string>
		<key>*WAN</key>
		<string>uan</string>
		<key>*WANG</key>
		<string>uang</string>
		<key>*WEI</key>
		<string>uei</string>
		<key>*WEN</key>
		<string>un</string>
		<key>*WO</key>
		<string>uo</string>
		<key>*WONG</key>
		<string>ong</string>
		<key>*WU</key>
		<string>u</string>
		<key>*YA</key>
		<string>ia</string>
		<key>*YAN</key>
		<string>ian</string>
		<key>*YANG</key>
		<string>iang</string>
		<key>*YAO</key>
		<string>iao</string>
		<key>*YE</key>
		<string>ie</string>
		<key>*YI</key>
		<string>i</string>
		<key>*YIN</key>
		<string>in</string>
		<key>*YING</key>
		<string>ing</string>
		<key>*YIOU</key>
		<string>iou</string>
		<key>*YONG</key>
		<string>yong</string>
		<key>*YU</key>
		<string>yu</string>
		<key>*YUAN</key>
		<string>yuan</string>
		<key>*YUE</key>
		<string>yue</string>
		<key>*YUN</key>
		<string>yun</string>
		<key>A</key>
		<string>a</string>
		<key>AI</key>
		<string>ai</string>
		<key>AN</key>
		<string>an</string>
		<key>ANG</key>
		<string>ang</string>
		<key>AO</key>
		<string>ao</string>
		<key>E</key>
		<string>e</string>
		<key>EA</key>
		<string>ea</string>
		<key>EI</key>
		<string>ei</string>
		<key>EN</key>
		<string>en</string>
		<key>ENG</key>
		<string>eng</string>
		<key>ER</key>
		<string>er</string>
		<key>IH</key>
		<string>ih</string>
		<key>O</key>
		<string>o</string>
		<key>OU</key>
		<string>ou</string>
		<key>WA</key>
		<string>wa</string>
		<key>WAI</key>
		<string>wai</string>
		<key>WAN</key>
		<string>wan</string>
		<key>WANG</key>
		<string>wang</string>
		<key>WEI</key>
		<string>wei</string>
		<key>WEN</key>
		<string>wun</string>
		<key>WO</key>
		<string>wo</string>
		<key>WONG</key>
		<string>wong</string>
		<key>WU</key>
		<string>wu</string>
		<key>YA</key>
		<string>ya</string>
		<key>YAN</key>
		<string>yan</string>
		<key>YANG</key>
		<string>yang</string>
		<key>YAO</key>
		<string>yao</string>
		<key>YE</key>
		<string>ye</string>
		<key>YI</key>
		<string>yi</string>
		<key>YIN</key>
		<string>yin</string>
		<key>YING</key>
		<string>ying</string>
		<key>YIOU</key>
		<string>you</string>
		<key>YO</key>
		<string>yo</string>
		<key>YONG</key>
		<string>yong</string>
		<key>YU</key>
		<string>yu</string>
		<key>YUAN</key>
		<string>yuan</string>
		<key>YUE</key>
		<string>yue</string>
		<key>YUN</key>
		<string>yun</string>
	</dict>
	<key>TargetInitials</key>
	<dict>
		<key>B</key>
		<string>b</string>
		<key>C</key>
		<string>c</string>
		<key>CH</key>
		<string>ch</string>
		<key>D</key>
		<string>d</string>
		<key>F</key>
		<string>f</string>
		<key>G</key>
		<string>g</string>
		<key>H</key>
		<string>h</string>
		<key>J</key>
		<string>j</string>
		<key>K</key>
		<string>k</string>
		<key>L</key>
		<string>l</string>
		<key>M</key>
		<string>m</string>
		<key>N</key>
		<string>n</string>
		<key>P</key>
		<string>p</string>
		<key>Q</key>
		<string>c</string>
		<key>R</key>
		<string>r</string>
		<key>S</key>
		<string>s</string>
		<key>SH</key>
		<string>sh</string>
		<key>T</key>
		<string>t</string>
		<key>X</key>
		<string>s</string>
		<key>Z</key>
		<string>z</string>
		<key>ZH</key>
		<string>jh</string>
	</dict>
	<key>TargetTones</key>
	<dict>
		<key>1</key>
		<string>1</string>
		<key>2</key>
		<string>2</string>
		<key>3</key>
		<string>3</string>
		<key>4</key>
		<string>4</string>
		<key>5</key>
		<string>5</string>
	</dict>
</dict>
</plist>
