<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SourceExceptions</key>
	<dict>
		<key>ㄓ</key>
		<string>ZH.IH</string>
		<key>ㄔ</key>
		<string>CH.IH</string>
		<key>ㄕ</key>
		<string>SH.IH</string>
		<key>ㄖ</key>
		<string>R.IH</string>
		<key>ㄗ</key>
		<string>Z.IH</string>
		<key>ㄘ</key>
		<string>C.IH</string>
		<key>ㄙ</key>
		<string>S.IH</string>
		<key>ㄩㄥ</key>
		<string>YONG</string>
	</dict>
	<key>SourceFinals</key>
	<dict>
		<key>ㄚ</key>
		<string>A</string>
		<key>ㄛ</key>
		<string>O</string>
		<key>ㄜ</key>
		<string>E</string>
		<key>ㄝ</key>
		<string>EA</string>
		<key>ㄞ</key>
		<string>AI</string>
		<key>ㄟ</key>
		<string>EI</string>
		<key>ㄠ</key>
		<string>AO</string>
		<key>ㄡ</key>
		<string>OU</string>
		<key>ㄢ</key>
		<string>AN</string>
		<key>ㄣ</key>
		<string>EN</string>
		<key>ㄤ</key>
		<string>ANG</string>
		<key>ㄥ</key>
		<string>ENG</string>
		<key>ㄦ</key>
		<string>ER</string>
		<key>ㄧ</key>
		<string>YI</string>
		<key>ㄧㄚ</key>
		<string>YA</string>
		<key>ㄧㄞ</key>
		<string>YAI</string>
		<key>ㄧㄝ</key>
		<string>YE</string>
		<key>ㄧㄠ</key>
		<string>YAO</string>
		<key>ㄧㄡ</key>
		<string>YIOU</string>
		<key>ㄧㄢ</key>
		<string>YAN</string>
		<key>ㄧㄣ</key>
		<string>YIN</string>
		<key>ㄧㄤ</key>
		<string>YANG</string>
		<key>ㄧㄥ</key>
		<string>YING</string>
		<key>ㄧㄨ</key>
		<string>YO</string>
		<key>ㄨ</key>
		<string>WU</string>
		<key>ㄨㄚ</key>
		<string>WA</string>
		<key>ㄨㄛ</key>
		<string>WO</string>
		<key>ㄨㄞ</key>
		<string>WAI</string>
		<key>ㄨㄟ</key>
		<string>WEI</string>
		<key>ㄨㄢ</key>
		<string>WAN</string>
		<key>ㄨㄣ</key>
		<string>WEN</string>
		<key>ㄨㄤ</key>
		<string>WANG</string>
		<key>ㄨㄥ</key>
		<string>WONG</string>
		<key>ㄩ</key>
		<string>YU</string>
		<key>ㄩㄝ</key>
		<string>YUE</string>
		<key>ㄩㄢ</key>
		<string>YUAN</string>
		<key>ㄩㄣ</key>
		<string>YUN</string>
		<key>ㄩㄥ</key>
		<string>YONG</string>
	</dict>
	<key>SourceInitials</key>
	<dict>
		<key>ㄅ</key>
		<string>B</string>
		<key>ㄆ</key>
		<string>P</string>
		<key>ㄇ</key>
		<string>M</string>
		<key>ㄈ</key>
		<string>F</string>
		<key>ㄉ</key>
		<string>D</string>
		<key>ㄊ</key>
		<string>T</string>
		<key>ㄋ</key>
		<string>N</string>
		<key>ㄌ</key>
		<string>L</string>
		<key>ㄍ</key>
		<string>G</string>
		<key>ㄎ</key>
		<string>K</string>
		<key>ㄏ</key>
		<string>H</string>
		<key>ㄐ</key>
		<string>J</string>
		<key>ㄑ</key>
		<string>Q</string>
		<key>ㄒ</key>
		<string>X</string>
		<key>ㄓ</key>
		<string>ZH</string>
		<key>ㄔ</key>
		<string>CH</string>
		<key>ㄕ</key>
		<string>SH</string>
		<key>ㄖ</key>
		<string>R</string>
		<key>ㄗ</key>
		<string>Z</string>
		<key>ㄘ</key>
		<string>C</string>
		<key>ㄙ</key>
		<string>S</string>
	</dict>
	<key>SourceTones</key>
	<dict>
		<key>ˇ</key>
		<string>3</string>
		<key>ˉ</key>
		<string>1</string>
		<key>ˊ</key>
		<string>2</string>
		<key>ˋ</key>
		<string>4</string>
		<key>˙</key>
		<string>5</string>
	</dict>
	<key>TargetExceptions</key>
	<dict>
		<key>1</key>
		<string>ˉ</string>
		<key>2</key>
		<string>ˊ</string>
		<key>3</key>
		<string>ˇ</string>
		<key>4</key>
		<string>ˋ</string>
		<key>5</key>
		<string>˙</string>
		<key>C.IH</key>
		<string>ㄘ</string>
		<key>CH.IH</key>
		<string>ㄔ</string>
		<key>R.IH</key>
		<string>ㄖ</string>
		<key>S.IH</key>
		<string>ㄙ</string>
		<key>SH.IH</key>
		<string>ㄕ</string>
		<key>YAI</key>
		<string>ㄧㄞ</string>
		<key>YONG</key>
		<string>ㄩㄥ</string>
		<key>Z.IH</key>
		<string>ㄗ</string>
		<key>ZH.IH</key>
		<string>ㄓ</string>
	</dict>
	<key>TargetFinals</key>
	<dict>
		<key>A</key>
		<string>ㄚ</string>
		<key>AI</key>
		<string>ㄞ</string>
		<key>AN</key>
		<string>ㄢ</string>
		<key>ANG</key>
		<string>ㄤ</string>
		<key>AO</key>
		<string>ㄠ</string>
		<key>E</key>
		<string>ㄜ</string>
		<key>EA</key>
		<string>ㄝ</string>
		<key>EI</key>
		<string>ㄟ</string>
		<key>EN</key>
		<string>ㄣ</string>
		<key>ENG</key>
		<string>ㄥ</string>
		<key>ER</key>
		<string>ㄦ</string>
		<key>O</key>
		<string>ㄛ</string>
		<key>OU</key>
		<string>ㄡ</string>
		<key>WA</key>
		<string>ㄨㄚ</string>
		<key>WAI</key>
		<string>ㄨㄞ</string>
		<key>WAN</key>
		<string>ㄨㄢ</string>
		<key>WANG</key>
		<string>ㄨㄤ</string>
		<key>WEI</key>
		<string>ㄨㄟ</string>
		<key>WEN</key>
		<string>ㄨㄣ</string>
		<key>WO</key>
		<string>ㄨㄛ</string>
		<key>WONG</key>
		<string>ㄨㄥ</string>
		<key>WU</key>
		<string>ㄨ</string>
		<key>YA</key>
		<string>ㄧㄚ</string>
		<key>YAN</key>
		<string>ㄧㄢ</string>
		<key>YANG</key>
		<string>ㄧㄤ</string>
		<key>YAO</key>
		<string>ㄧㄠ</string>
		<key>YE</key>
		<string>ㄧㄝ</string>
		<key>YI</key>
		<string>ㄧ</string>
		<key>YIN</key>
		<string>ㄧㄣ</string>
		<key>YING</key>
		<string>ㄧㄥ</string>
		<key>YIOU</key>
		<string>ㄧㄡ</string>
		<key>YO</key>
		<string>ㄧㄨ</string>
		<key>YONG</key>
		<string>ㄩㄥ</string>
		<key>YU</key>
		<string>ㄩ</string>
		<key>YUAN</key>
		<string>ㄩㄢ</string>
		<key>YUE</key>
		<string>ㄩㄝ</string>
		<key>YUN</key>
		<string>ㄩㄣ</string>
	</dict>
	<key>TargetInitials</key>
	<dict>
		<key>B</key>
		<string>ㄅ</string>
		<key>C</key>
		<string>ㄘ</string>
		<key>CH</key>
		<string>ㄔ</string>
		<key>D</key>
		<string>ㄉ</string>
		<key>F</key>
		<string>ㄈ</string>
		<key>G</key>
		<string>ㄍ</string>
		<key>H</key>
		<string>ㄏ</string>
		<key>J</key>
		<string>ㄐ</string>
		<key>K</key>
		<string>ㄎ</string>
		<key>L</key>
		<string>ㄌ</string>
		<key>M</key>
		<string>ㄇ</string>
		<key>N</key>
		<string>ㄋ</string>
		<key>P</key>
		<string>ㄆ</string>
		<key>Q</key>
		<string>ㄑ</string>
		<key>R</key>
		<string>ㄖ</string>
		<key>S</key>
		<string>ㄙ</string>
		<key>SH</key>
		<string>ㄕ</string>
		<key>T</key>
		<string>ㄊ</string>
		<key>X</key>
		<string>ㄒ</string>
		<key>Z</key>
		<string>ㄗ</string>
		<key>ZH</key>
		<string>ㄓ</string>
	</dict>
	<key>TargetTones</key>
	<dict>
		<key>1</key>
		<string>ˉ</string>
		<key>2</key>
		<string>ˊ</string>
		<key>3</key>
		<string>ˇ</string>
		<key>4</key>
		<string>ˋ</string>
		<key>5</key>
		<string>˙</string>
	</dict>
</dict>
</plist>
