<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIMPunctuationMarks</key>
	<array>
		<string>　</string>
		<string>，</string>
		<string>、</string>
		<string>。</string>
		<string>．</string>
		<string>·</string>
		<string>；</string>
		<string>：</string>
		<string>？</string>
		<string>！</string>
		<string>︰</string>
		<string>⋯</string>
		<string>‥</string>
		<string>｜</string>
		<string>–</string>
		<string>︱</string>
		<string>—</string>
		<string>︳</string>
		<string>︴</string>
		<string>﹏</string>
		<string>（</string>
		<string>）</string>
		<string>︵</string>
		<string>︶</string>
		<string>｛</string>
		<string>｝</string>
		<string>︷</string>
		<string>︸</string>
		<string>〔</string>
		<string>〕</string>
		<string>︹</string>
		<string>︺</string>
		<string>【</string>
		<string>】</string>
		<string>︻</string>
		<string>︼</string>
		<string>《</string>
		<string>》</string>
		<string>︽</string>
		<string>︾</string>
		<string>〈</string>
		<string>〉</string>
		<string>︿</string>
		<string>﹀</string>
		<string>「</string>
		<string>」</string>
		<string>﹁</string>
		<string>﹂</string>
		<string>『</string>
		<string>』</string>
		<string>﹃</string>
		<string>﹄</string>
		<string>‘</string>
		<string>’</string>
		<string>“</string>
		<string>”</string>
		<string>〝</string>
		<string>〞</string>
		<string>‵</string>
		<string>′</string>
		<string>＃</string>
		<string>＆</string>
		<string>＊</string>
		<string>※</string>
		<string>§</string>
		<string>〃</string>
		<string>○</string>
		<string>●</string>
		<string>△</string>
		<string>▲</string>
		<string>◎</string>
		<string>☆</string>
		<string>★</string>
		<string>◇</string>
		<string>◆</string>
		<string>□</string>
		<string>■</string>
		<string>▽</string>
		<string>▼</string>
		<string>㊣</string>
		<string>℅</string>
		<string>‾</string>
		<string>＿</string>
		<string>﹉</string>
		<string>﹊</string>
		<string>﹍</string>
		<string>﹎</string>
		<string>﹋</string>
		<string>﹟</string>
		<string>﹠</string>
		<string>﹡</string>
		<string>＋</string>
		<string>－</string>
		<string>×</string>
		<string>÷</string>
		<string>±</string>
		<string>√</string>
		<string>＜</string>
		<string>＞</string>
		<string>＝</string>
		<string>≦</string>
		<string>≧</string>
		<string>≠</string>
		<string>∞</string>
		<string>≒</string>
		<string>≡</string>
		<string>﹢</string>
		<string>﹣</string>
		<string>﹤</string>
		<string>﹥</string>
		<string>﹦</string>
		<string>∼</string>
		<string>∩</string>
		<string>∪</string>
		<string>⊥</string>
		<string>∠</string>
		<string>∟</string>
		<string>⊿</string>
		<string>㏒</string>
		<string>㏑</string>
		<string>∫</string>
		<string>∮</string>
		<string>∵</string>
		<string>∴</string>
		<string>♀</string>
		<string>♂</string>
		<string>⊕</string>
		<string>☉</string>
		<string>↑</string>
		<string>↓</string>
		<string>←</string>
		<string>→</string>
		<string>↖</string>
		<string>↗</string>
		<string>↙</string>
		<string>↘</string>
		<string>∥</string>
		<string>∣</string>
		<string>／</string>
		<string>＼</string>
		<string>＄</string>
		<string>¥</string>
		<string>〒</string>
		<string>¢</string>
		<string>£</string>
		<string>％</string>
		<string>＠</string>
		<string>℃</string>
		<string>℉</string>
		<string>﹩</string>
		<string>﹪</string>
		<string>﹫</string>
		<string>㏕</string>
		<string>㎜</string>
		<string>㎝</string>
		<string>㎞</string>
		<string>㏎</string>
		<string>㎡</string>
		<string>㎎</string>
		<string>㎏</string>
		<string>㏄</string>
		<string>°</string>
		<string>兙</string>
		<string>兛</string>
		<string>兞</string>
		<string>兝</string>
		<string>兡</string>
		<string>兣</string>
		<string>嗧</string>
		<string>瓩</string>
		<string>糎</string>
		<string>▁</string>
		<string>▂</string>
		<string>▃</string>
		<string>▄</string>
		<string>▅</string>
		<string>▆</string>
		<string>▇</string>
		<string>█</string>
		<string>▏</string>
		<string>▎</string>
		<string>▍</string>
		<string>▌</string>
		<string>▋</string>
		<string>▊</string>
		<string>▉</string>
		<string>┼</string>
		<string>┴</string>
		<string>┬</string>
		<string>┤</string>
		<string>├</string>
		<string>▔</string>
		<string>─</string>
		<string>│</string>
		<string>┌</string>
		<string>┐</string>
		<string>└</string>
		<string>┘</string>
		<string>╭</string>
		<string>╮</string>
		<string>╰</string>
		<string>╯</string>
		<string>═</string>
		<string>╞</string>
		<string>╪</string>
		<string>╡</string>
		<string>◢</string>
		<string>◣</string>
		<string>◥</string>
		<string>◤</string>
		<string>╱</string>
		<string>╲</string>
		<string>╳</string>
		<string>０</string>
		<string>１</string>
		<string>２</string>
		<string>３</string>
		<string>４</string>
		<string>５</string>
		<string>６</string>
		<string>７</string>
		<string>８</string>
		<string>９</string>
		<string>Ⅰ</string>
		<string>Ⅱ</string>
		<string>Ⅲ</string>
		<string>Ⅳ</string>
		<string>Ⅴ</string>
		<string>Ⅵ</string>
		<string>Ⅶ</string>
		<string>Ⅷ</string>
		<string>Ⅸ</string>
		<string>Ⅹ</string>
		<string>〡</string>
		<string>〢</string>
		<string>〣</string>
		<string>〤</string>
		<string>〥</string>
		<string>〦</string>
		<string>〧</string>
		<string>〨</string>
		<string>〩</string>
		<string>十</string>
		<string>卄</string>
		<string>卅</string>
		<string>Ａ</string>
		<string>Ｂ</string>
		<string>Ｃ</string>
		<string>Ｄ</string>
		<string>Ｅ</string>
		<string>Ｆ</string>
		<string>Ｇ</string>
		<string>Ｈ</string>
		<string>Ｉ</string>
		<string>Ｊ</string>
		<string>Ｋ</string>
		<string>Ｌ</string>
		<string>Ｍ</string>
		<string>Ｎ</string>
		<string>Ｏ</string>
		<string>Ｐ</string>
		<string>Ｑ</string>
		<string>Ｒ</string>
		<string>Ｓ</string>
		<string>Ｔ</string>
		<string>Ｕ</string>
		<string>Ｖ</string>
		<string>Ｗ</string>
		<string>Ｘ</string>
		<string>Ｙ</string>
		<string>Ｚ</string>
		<string>ａ</string>
		<string>ｂ</string>
		<string>ｃ</string>
		<string>ｄ</string>
		<string>ｅ</string>
		<string>ｆ</string>
		<string>ｇ</string>
		<string>ｈ</string>
		<string>ｉ</string>
		<string>ｊ</string>
		<string>ｋ</string>
		<string>ｌ</string>
		<string>ｍ</string>
		<string>ｎ</string>
		<string>ｏ</string>
		<string>ｐ</string>
		<string>ｑ</string>
		<string>ｒ</string>
		<string>ｓ</string>
		<string>ｔ</string>
		<string>ｕ</string>
		<string>ｖ</string>
		<string>ｗ</string>
		<string>ｘ</string>
		<string>ｙ</string>
		<string>ｚ</string>
		<string>Α</string>
		<string>Β</string>
		<string>Γ</string>
		<string>Δ</string>
		<string>Ε</string>
		<string>Ζ</string>
		<string>Η</string>
		<string>Θ</string>
		<string>Ι</string>
		<string>Κ</string>
		<string>Λ</string>
		<string>Μ</string>
		<string>Ν</string>
		<string>Ξ</string>
		<string>Ο</string>
		<string>Π</string>
		<string>Ρ</string>
		<string>Σ</string>
		<string>Τ</string>
		<string>Υ</string>
		<string>Φ</string>
		<string>Χ</string>
		<string>Ψ</string>
		<string>Ω</string>
		<string>α</string>
		<string>β</string>
		<string>γ</string>
		<string>δ</string>
		<string>ε</string>
		<string>ζ</string>
		<string>η</string>
		<string>θ</string>
		<string>ι</string>
		<string>κ</string>
		<string>λ</string>
		<string>μ</string>
		<string>ν</string>
		<string>ξ</string>
		<string>ο</string>
		<string>π</string>
		<string>ρ</string>
		<string>σ</string>
		<string>τ</string>
		<string>υ</string>
		<string>φ</string>
		<string>χ</string>
		<string>ψ</string>
		<string>ω</string>
		<string>ㄅ</string>
		<string>ㄆ</string>
		<string>ㄇ</string>
		<string>ㄈ</string>
		<string>ㄉ</string>
		<string>ㄊ</string>
		<string>ㄋ</string>
		<string>ㄌ</string>
		<string>ㄍ</string>
		<string>ㄎ</string>
		<string>ㄏ</string>
		<string>ㄐ</string>
		<string>ㄑ</string>
		<string>ㄒ</string>
		<string>ㄓ</string>
		<string>ㄔ</string>
		<string>ㄕ</string>
		<string>ㄖ</string>
		<string>ㄗ</string>
		<string>ㄘ</string>
		<string>ㄙ</string>
		<string>ㄚ</string>
		<string>ㄛ</string>
		<string>ㄜ</string>
		<string>ㄝ</string>
		<string>ㄞ</string>
		<string>ㄟ</string>
		<string>ㄠ</string>
		<string>ㄡ</string>
		<string>ㄢ</string>
		<string>ㄣ</string>
		<string>ㄤ</string>
		<string>ㄥ</string>
		<string>ㄦ</string>
		<string>ㄧ</string>
		<string>ㄨ</string>
		<string>ㄩ</string>
		<string>˙</string>
		<string>ˉ</string>
		<string>ˊ</string>
		<string>ˇ</string>
		<string>ˋ</string>
	</array>
</dict>
</plist>
